* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background: #1d3d94;
  width: 100%;
  height: 100%;
  color: #ced9ea;
}

.header {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  background-color: #437fcb;
  width: 75%;
  margin-left: 12.5%;
  color: #ced9ea;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.about_me {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 20px;
}
h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0px;
}

ul {
  padding-left: 50px;
  list-style-type: square; /* disc | circle | square | none */
}

.list_projects {
  background-color: #437fcb;
  width: 75%;
  margin-left: 5%;
}