* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #033c7e;
  width: 100%;
  height: 100%;
}

.header {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

p {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}